<!DOCTYPE html>
{% extends "main_app/base.html" %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Holloway Media</title>
  </head>
  {% block body-block %}
  <body>
    <div class="container">
      <br>
      <div class="jumbotron">

    <h1 class="main_h1">Holloway Media</h1>

  </div>


  </div>
  <style media="screen">
    .main_h1{
      text-align: center;
    }
    .card{
      margin: 10px;
    }
    .card-text{
      text-align: center;
    }
    .card-header{
      text-align: center;
    }

  </style>
  </body>
  {% endblock %}
</html>
